version: "3.9"

services:
  db:
    image: postgres:14-alpine
    environment:
      POSTGRES_USER: ${DATABASE__USER}
      POSTGRES_PASSWORD: ${DATABASE__PASSWORD}
      POSTGRES_DB: ${DATABASE__NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  bot:
    build: .
    env_file: .env
    depends_on:
      - db
    volumes:
      - ./src:/app/src

volumes:
  postgres_data: